<!--@title Formular zur Widerrufsbelehrung @-->
<pre>Muster-Widerrufsformular

Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.


An 
{{block type="magesetup/imprint_field" value="shop_name"}}
{{block type="magesetup/imprint_field" value="company_first"}}
{{block type="magesetup/imprint_field" value="street"}}
{{block type="magesetup/imprint_field" value="zip"}} {{block type="magesetup/imprint_field" value="city"}}

per Fax an: {{block type="magesetup/imprint_field" value="fax"}}
oder per E-Mail an: {{block type="magesetup/imprint_field" value="email"}}


Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag
    über den Kauf der folgenden Waren (*)/
die Erbringung der folgenden Dienstleistung (*)

__________________________________________________
__________________________________________________
__________________________________________________
__________________________________________________
__________________________________________________
__________________________________________________
__________________________________________________
__________________________________________________


__________________________________________________
Bestellt am (*)/erhalten am (*)

__________________________________________________
Name des/der Verbraucher(s)

__________________________________________________
Anschrift des/der Verbraucher(s)

__________________________________________________
Unterschrift des/der Verbraucher(s)
(nur bei Mitteilung auf Papier)

__________________________________________________
Datum

(*) Unzutreffendes streichen.</pre>
