build.sh
build.default.properties
build.xml
.DS_Store
*.cache.properties
*~
*.swp
build.properties
.buildpath
.project
.settings
.settings/**/*
.externalToolBuilders
.externalToolBuilders/**/*
.vagrant
.vagrant/**/*
Vagrantfile
/.idea
