

#checkout-review-table td.last {
    text-align: right;
}
#checkout-review-table td.last .price {
    font-weight: bold;
}

#opc-review .additional-information {
	clear: both;
	margin:0;
	padding: 15px 10px;
	border: 1px solid #d9dde3;
	border-width: 0 1px 1px;
	text-align: right;
}

.checkout-multishipping-overview .additional-information {
	margin: 0;
	padding: 0 10px 25px;
	text-align: right;
}

.checkout-multishipping-overview .checkout-agreements {
	margin-bottom: 25px;
}

.opc .checkout-agreements li,
.checkout-multishipping-overview .checkout-agreements li {
	margin: 10px 0;
}

.opc .checkout-agreements .agree,
.checkout-multishipping-overview .checkout-agreements .agree {
	padding-top: 0px;
	padding-bottom: 0px;
}
