<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder germansetup gmbh noch Trusted Shops tragen für die
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<p><strong>Max Muster, Apotheker</strong></p>
<p>Die Berufsbezeichnung "Apotheker" wurde in der Bundesrepublik Deutschland verliehen.</p>
<p>Zuständige Aufsichtsbehörde: Gesundheitsamt Musterstadt</p>
<p>Mitglied der Apothekenkammer Musterstadt</p>