<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_GermanSetup>
            <version>0.1.0</version>
        </FireGento_GermanSetup>
    </modules>
    <global>
        <models>
            <tweaksgerman>
                <class>FireGento_GermanSetup_Model</class>
            </tweaksgerman>
        </models>
        <blocks>
            <tweaksgerman>
                <class>FireGento_GermanSetup_Block</class>
            </tweaksgerman>
        </blocks>
        <helpers>
            <tweaksgerman>
                <class>FireGento_GermanSetup_Helper</class>
            </tweaksgerman>
        </helpers>
        <resources>
            <tweaksgerman_setup>
                <setup>
                    <module>FireGento_GermanSetup</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tweaksgerman_setup>
            <tweaksgerman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tweaksgerman_write>
            <tweaksgerman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tweaksgerman_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <tax>
                        <renderer>FireGento_GermanSetup_Block_Tax_Render</renderer>
                    </tax>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <tweaksgerman>
                    <file>tweaksgerman.xml</file>
                </tweaksgerman>
            </updates>
        </layout>
        <translate>
            <modules>
                <FireGento_GermanSetup>
                    <files>
                        <tweaksgerman>FireGento_GermanSetup.csv</tweaksgerman>
                    </files>
                </FireGento_GermanSetup>
            </modules>
        </translate>
        <events>
            <sales_order_place_after>
                <observers>
                    <tweaksgerman>
                        <type>singleton</type>
                        <class>FireGento_GermanSetup_Model_Observer</class>
                        <method>checkoutSubmit</method>
                    </tweaksgerman>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <tweaksgerman>
                    <file>tweaksgerman.xml</file>
                </tweaksgerman>
            </updates>
        </layout>
        <translate>
            <modules>
                <FireGento_GermanSetup>
                    <files>
                        <tweaksgerman>FireGento_GermanSetup.csv</tweaksgerman>
                    </files>
                </FireGento_GermanSetup>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <create_account>
                <enable_emailnotice>0</enable_emailnotice>
                <emailnotice><![CDATA[Wir senden Ihnen regelmäßig sorgfältig ausgesuchte Angebote zu ähnlichen Produkten aus unserem Sortiment per E-Mail zu. Ihre E-Mail-Adresse wird nicht an andere Unternehmen weitergegeben. Sie können der Nutzung Ihrer E-Mail-Adresse für Werbezwecke jederzeit durch formlose E-Mail widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen.]]></emailnotice>
            </create_account>
        </customer>
        <catalog>
            <frontend>
                <enable_weight_info>0</enable_weight_info>
                <enable_delivery_info>1</enable_delivery_info>
                <display_shippingcosts>excl</display_shippingcosts>
                <display_taxinfo>1</display_taxinfo>
            </frontend>
        </catalog>
    </default>
</config>
