<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_GermanSetup>
            <version>0.5.0</version>
        </FireGento_GermanSetup>
    </modules>
    <global>
        <models>
            <germansetup>
                <class>FireGento_GermanSetup_Model</class>
            </germansetup>
        </models>
        <blocks>
            <germansetup>
                <class>FireGento_GermanSetup_Block</class>
            </germansetup>
        </blocks>
        <helpers>
            <germansetup>
                <class>FireGento_GermanSetup_Helper</class>
            </germansetup>
        </helpers>
        <resources>
            <germansetup_setup>
                <setup>
                    <module>FireGento_GermanSetup</module>
                    <class>germansetup/setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </germansetup_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <germansetup>
                    <file>germansetup.xml</file>
                </germansetup>
            </updates>
        </layout>
        <translate>
            <modules>
                <FireGento_GermanSetup>
                    <files>
                        <germansetup>FireGento_GermanSetup.csv</germansetup>
                    </files>
                </FireGento_GermanSetup>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <germansetup_observer>
                        <class>germansetup/observer</class>
                        <method>filterAgreements</method>
                    </germansetup_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FireGento_GermanSetup>
                    <files>
                        <germansetup>FireGento_GermanSetup.csv</germansetup>
                    </files>
                </FireGento_GermanSetup>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <germansetup translate="title">
                        <title>German Setup</title>
                        <action>adminhtml/germansetup</action>
                        <sort_order>11</sort_order>
                    </germansetup>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <germansetup translate="title">
                                    <title>German Setup</title>
                                    <sort_order>11</sort_order>
                                </germansetup>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<FireGento_GermanSetup before="Mage_Adminhtml">FireGento_GermanSetup</FireGento_GermanSetup>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <default>
        <catalog>
            <price>
                <display_block_below_price>1</display_block_below_price>
                <cms_page_shipping>germansetup_shipment</cms_page_shipping>
            </price>
        </catalog>
        <general>
            <imprint>
                <shop_name>Beispielshop</shop_name>
                <company_first>Musterfirma GmbH</company_first>
                <zip>12345</zip>
                <street>Musterstr. 1</street>
                <city>Musterstadt</city>
                <email>info@musterdomain.de</email>
            </imprint>
        </general>
    </default>
</config>
