<!--@title Modes de paiement @-->
<!--@identifier paiement @-->
<!--@root_template one_column @-->
<h1>DISCLAIMER</h1>
<p>
    Le texte placé ci-dessous est seulement un <strong>MODELE</strong> vous permettant de vous aider à créer
    cette page. Vous devez dans tous les cas modifier ce texte sous CMS > Block statique.
    En aucun cas, l'association Firegento et Trusted Shop porte la responsabilité de ce texte.
</p>

<h2>Modes de paiement</h2>
<p>Nous vous offrons les moyens de paiement suivant. Choisissez celui qui vosu convient le mieux. Les frais d'envoi peuvent être dépendant du mode de paiement choisi.</p>

<h3>Virement</h3>
<p>Veuillez s'il vous plaît effectuer le versement du montant total de votre commande auprès de notre compte bancaire.</p>

<h3>Facture</h3>
<p>Seulement pour les écoles, les administrations et registre du commerce après vérification.</p>

<h3>Contre-remboursement</h3>
<p>Veuillez garder votre facture avec vous; Le livreur n'acceptera à la livraison que de l'argent liquide (pas de chèque). Lors d'un contre-remboursement, des frais de l'ordre de 2 Euros s'ajoutent. Veuillez les régler directement au livreur.</p>

<h3>Direct Débit direct</h3>
<p>Aussitôt que le paiement est confirmé, nous définissons votre commande comme "Payé"</p>