<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_MageSetup
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013-2015 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 * @version   2.2.2
 */
 -->
<config>
    <modules>
        <FireGento_MageSetup>
            <version>2.2.2</version>
        </FireGento_MageSetup>
    </modules>
    <global>
        <blocks>
            <magesetup>
                <class>FireGento_MageSetup_Block</class>
            </magesetup>
        </blocks>
        <helpers>
            <magesetup>
                <class>FireGento_MageSetup_Helper</class>
            </magesetup>
            <catalog>
                <rewrite>
                    <product_configuration>FireGento_MageSetup_Helper_Catalog_Product_Configuration</product_configuration>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <data>FireGento_MageSetup_Helper_Checkout_Data</data>
                </rewrite>
            </checkout>
        </helpers>
        <models>
            <magesetup>
                <class>FireGento_MageSetup_Model</class>
                <resourceModel>magesetup_resource</resourceModel>
            </magesetup>
            <magesetup_resource>
                <class>FireGento_MageSetup_Model_Resource</class>
                <entities>
                    <newsletter_subscriber_status>
                        <table>newsletter_subscriber_status</table>
                    </newsletter_subscriber_status>
                </entities>
            </magesetup_resource>
            <tax>
                <rewrite>
                    <config>FireGento_MageSetup_Model_Tax_Config</config>
                </rewrite>
            </tax>
        </models>
        <resources>
            <magesetup_setup>
                <setup>
                    <module>FireGento_MageSetup</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </magesetup_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>autogenerateMetaInformation</method>
                    </magesetup_observer>
                </observers>
            </catalog_product_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/newsletter_observer</class>
                        <type>model</type>
                        <method>saveSubscriberStatusHistory</method>
                    </magesetup_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>singleton</type>
                        <method>addProductAttributesToQuoteItems</method>
                    </magesetup_observer>
                </observers>
            </sales_quote_config_get_product_attributes>
        </events>
        <magesetup>
            <available_countries>
                <at />
                <ch />
                <de />
                <es />
                <fr />
                <gb />
                <it />
                <nl />
                <ru />
                <pl />
                <ro />
            </available_countries>
        </magesetup>
        <locale>
            <allow>
                <codes>
                    <fr_CH />
                    <de_CH />
                </codes>
            </allow>
        </locale>
    </global>
    <frontend>
        <secure_url>
            <contacts>/contacts/</contacts>
            <review>/review/</review>
        </secure_url>
        <layout>
            <updates>
                <magesetup>
                    <file>magesetup.xml</file>
                </magesetup>
            </updates>
        </layout>
        <translate>
            <modules>
                <FireGento_MageSetup>
                    <files>
                        <magesetup>FireGento_MageSetup.csv</magesetup>
                    </files>
                </FireGento_MageSetup>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>filterAgreements</method>
                    </magesetup_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>customerCreatePreDispatch</method>
                    </magesetup_observer>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <core_block_abstract_to_html_after>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>setGAAnonymizerCode</method>
                    </magesetup_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <routers>
            <magesetup>
                <use>standard</use>
                <args>
                    <module>FireGento_MageSetup</module>
                    <frontName>magesetup</frontName>
                </args>
            </magesetup>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magesetup>
                    <file>magesetup.xml</file>
                </magesetup>
            </updates>
        </layout>
        <translate>
            <modules>
                <FireGento_MageSetup>
                    <files>
                        <magesetup>FireGento_MageSetup.csv</magesetup>
                    </files>
                </FireGento_MageSetup>
            </modules>
        </translate>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <magesetup_observer>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>addIsVisibleOnCheckoutOption</method>
                    </magesetup_observer>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <adminhtml_block_html_before>
                <observers>
                    <magesetup_observer_agreement>
                        <class>magesetup/observer</class>
                        <type>model</type>
                        <method>addOptionsForAgreements</method>
                    </magesetup_observer_agreement>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <magesetup>
                <use>admin</use>
                <args>
                    <module>FireGento_MageSetup</module>
                    <frontName>magesetup</frontName>
                    <modules>
                        <FireGento_MageSetup after="Mage_Adminhtml">FireGento_MageSetup_Adminhtml</FireGento_MageSetup>
                    </modules>
                </args>
            </magesetup>
        </routers>
    </admin>
    <default>
        <catalog>
            <price>
                <display_block_below_price>1</display_block_below_price>
                <display_delivery_time_on_categories>1</display_delivery_time_on_categories>
                <cms_page_shipping>lieferung</cms_page_shipping>
                <weight_unit>kg</weight_unit>
            </price>
        </catalog>
        <general>
            <imprint>
                <shop_name>Any Store</shop_name>
                <company_first>Any Company Inc.</company_first>
                <zip>12345</zip>
                <street>123 Anywhere Street</street>
                <city>Anytown</city>
                <email>info@example.com</email>
            </imprint>
        </general>
        <checkout>
            <options>
                <additional_information><![CDATA[Beim Versand ins Nicht-EU-Ausland können zusätzlich Zölle, Steuern und Gebühren entstehen.]]></additional_information>
                <default_revocation_product_type>goods</default_revocation_product_type>
            </options>
            <cart>
                <hide_shipping>1</hide_shipping>
            </cart>
        </checkout>
        <sales>
            <reorder>
                <hide_sidebar_box>1</hide_sidebar_box>
            </reorder>
        </sales>
        <customer>
            <create_account>
                <avoid_tc>Yes</avoid_tc>
            </create_account>
            <address_templates>
                <text><![CDATA[
{{depend company}}{{var company}}
{{/depend}}{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}{{depend street2}}{{var street2}}
{{/depend}}{{depend street3}}{{var street3}}
{{/depend}}{{depend street4}}{{var street4}}
{{/depend}}{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}
{{var country}}
Tel: {{var telephone}}
{{depend fax}}Fax: {{var fax}}
{{/depend}}
                ]]></text>
                <oneline><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var postcode}} {{var city}}, {{var country}}]]></oneline>
                <html><![CDATA[
{{depend company}}{{var company}}<br />{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}Tel: {{var telephone}}{{/depend}}
{{depend fax}}<br/>Fax: {{var fax}}{{/depend}}
                ]]></html>
                <pdf><![CDATA[
{{depend company}}{{var company}}|{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{if street1}}{{var street1}}|
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}|
{{var country}}|
{{depend telephone}}Tel: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>Fax: {{var fax}}{{/depend}}|
                ]]></pdf>
                <js_template><![CDATA[#{company}<br/>#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{postcode} #{city}<br/>#{country_id}<br/>Tel: #{telephone}<br/>Fax: #{fax}]]></js_template>
            </address_templates>
        </customer>
        <url>
            <convert>
                <char0228>
                    <from>ä</from>
                    <to>ae</to>
                </char0228>
                <char0246>
                    <from>ö</from>
                    <to>oe</to>
                </char0246>
                <char0252>
                    <from>ü</from>
                    <to>ue</to>
                </char0252>
                <char0223>
                    <from>ß</from>
                    <to>ss</to>
                </char0223>
                <char0196>
                    <from>Ä</from>
                    <to>ae</to>
                </char0196>
                <char0214>
                    <from>Ö</from>
                    <to>oe</to>
                </char0214>
                <char0220>
                    <from>Ü</from>
                    <to>ue</to>
                </char0220>
            </convert>
        </url>
        <general>
            <country>
                <eu_countries>AT,BE,BG,CY,CZ,DE,DK,EE,FI,FR,DE,GR,HU,HR,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,ES,SE,GB</eu_countries>
            </country>
        </general>
    </default>
    <phpunit>
        <suite>
            <modules>
                <FireGento_MageSetup/>
            </modules>
        </suite>
    </phpunit>
</config>
