<!--@title Politique de confidentialité @-->
<!--@identifier politique-de-confidentialite @-->
<!--@root_template one_column @-->
<h2><i>Remplissez ici votre politique de confidentialé.</i></h2>
<p>
    Le texte placé ci-dessous est seulement un <strong>MODELE</strong> vous permettant de vous aider à créer
    cette page. Vous devez dans tous les cas modifier ce texte sous CMS > Block statique.
    En aucun cas, l'association Firegento et Trusted Shop porte la responsabilité de ce texte.
</p>

<p>
(Veuillez indiquer l’identité du responsable du traitement)
« Les informations recueillies font l’objet d’un traitement informatique destiné à …
</p>
<p>
(Veuillez préciser la finalité)
Les destinataires des données sont :………………………
(précisez)
</p>
<p>
Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à ……………………………………
(Veuillez préciser le service et l’adresse)
</p>
<p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>