<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento" border="0"/></a></p></td>
                    </tr>
                </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Hallo,<br/>
                                jemand hat dich zu {{var order.getStoreGroupName()}} eingeladen!</p>
                            <p>{{var store_name|escape}} bietet Zeitbegrenzte Aktionsangebot für Mitglieder.</p>

                            <div>
                            Bitte benutze folgenden Link um dich zu registrieren und die Angebote anzugucken: {{if allow_message}} {{var message|escape|nl2br}} {{/if}}
                            <a href="{{var url|escape}}">{{var url|escape}}</a>
                            </div>

                            <p>Vielen Dank,<br/>{{block type="imprint/content" template="symmetrics/imprint/email/footer.phtml"}}</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>