<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Password Reset Url"
@-->

<!--@styles
	body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
	<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
		<tr>
			<td align="center" valign="top">
				<!-- [ header starts here] -->
				<table cellspacing="0" cellpadding="0" border="0" width="650">
					<tr>
						<td valign="top">
							<p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="germansetup/imprint_field" value="shop_name"}}" border="0"/></a></p>
						</td>
					</tr>
				</table>
				<!-- [ middle starts here] -->
				<table cellspacing="0" cellpadding="0" border="0" width="650">
					<tr>
						<td valign="top">
							<p><strong>Hallo {{htmlescape var=$customer.name}},</strong></p>
                            <p>Sie haben eine Anfrage zum ändern Ihres Passwortes angefordert.</p>
                            <p>Wenn Sie Ihr Passwort ändern wollen, klicken Sie dazu einfach auf den nachfolgenden Link.<br />
                                <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                            <p>Wenn Sie den Link nicht anklicken können, kopieren Sie sich die Adresse und fügen diese in die Adressleiste in Ihren Browser ein.</p>
                            <br />
                            <p>Wenn Sie diese Anfrage nicht gestartet haben, können Sie diese E-Mail einfach ignorieren.</p>
						</td>
					</tr>
					<tr>
						<td>{{block type="germansetup/imprint_content" template="germansetup/imprint/email_footer.phtml"}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
